* {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif
}

header {
  background-color: black;
}

body {
  box-sizing: border-box;
}

ul {
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
}

.unordered-list {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}



li {
  padding: 28px 17px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 366px;
    margin-right: 366px;
}

main {
  background-color:#19E68C ;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section-one {
  flex-direction:column;
  display:flex;
  align-items: center;
  width: 100%;
  padding: 100px 0;
  gap: 40px;
  background-color: #19E68C;
}

button {
  text-align:center;
  background-color: white;
  cursor:pointer;
  border:none;
  border-radius: 50px;
  line-height: 45px;
  letter-spacing: 1px;
  width: 120px;
  height: 45px;
  font-weight: bold;
}

button:hover {
  transform: scale(1.04);
}

button:focus {
  outline: 3px solid white;
  outline-offset: 4px;
  transform: scale(1);
}

h1 {
  font-size: 48px;
  font-style:normal;
  font-weight:900;
}

.laptop {
  width: 145px;
}

.laptop-wrapper{
  /* position relative pune laptopul pe mijlocul parintelui */
  position: relative;
  }

.absolute-position {
  /* Absolute positioning bases the element’s position relative to the nearest parent element that has position: relative. If it can’t find one, it will be relative to the document. Add top: 50%; left: 50%; because the position is calculated from the top left corner. */
  position: absolute;
  top: 50%;
  left: 50%;
  /* x totdeauna pe orizontala. Y=verticala Z=spatiu 3d */
  /* primul -50= muta cercul in stanga, 50=muta cercul in dreapta*/
  transform: translate(-50%, -50%);
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section-two {
  background-color: white;
  padding: 70px 15px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

h3 {
color: black;
font-size: 32px;
font-style: normal;
font-weight: 900;
}

.app-icon-download {
  display: flex;
  align-items: center;

}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section-three {
  background-color: #222326;
  padding:70px 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.devices-list{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  list-style-type: style circle;;
  gap: 15px;
  margin: 25px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  
}

.devices-list a {
  text-decoration: underline;
  color:#1DB954;
}
a:hover {
  color: #1ed760;
}
.all-devices {
  margin-bottom: 25px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

footer {
  background-color: black;
  box-sizing: border-box;
  padding: 60px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.footer-img {
  justify-content: space-between;
}



.footer-col {
  margin: 0 15px;
}

h4 {
  color: white;
  font-size: 18px;
  text-transform:capitalize;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #919496;
}

.social-links {
  display: flex;
  background-color: black;
  gap: 15px;
}

.social-links img {
  background-color: white;
  width: 25px;
  color: #1ed760;
}

.social-links img:hover {
  background-color: #1ed760;
}

.social-links li {
  padding: 15px;
  border-radius: 50%;
  height: 25px;
  background-color: #222326;
}

.companie-list {
  display: flex;
  flex-direction: column;
  padding: 0%;
  align-items: flex-start;
}

.companie-list li {
  padding: 3px 0 15px;
  width: 119px;
}

.footer-wrap {
  display: flex;
  max-width: 1170px;
  width: 100%;
  gap: 50px;
}

.spacer {
  flex: 1 0;
}

.romania {
  font-size: 12px;
  margin: px -400px;
  display: flex;
  flex-direction: row;
  color: #919496;
  max-width: 1170px;
  width: 100%;
  justify-content: flex-end;
}

.romania a {
  color:#919496;
}

.romania a:hover {
  color: #1ed760;
}

.legal-informati {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  flex-direction: row;
  text-transform: uppercase;
  gap: 30px;
  font-size: 12px;
  letter-spacing: 0px;
  
  color: #919496;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.legal-informati a {
  color: #919496;
}

.legal-informati a:hover {
  color: #1ed760;
}

.space-word {
  display: flex;
  gap: 20px;
}